//Less

@earnbook-font-family : helvetica,arial,sans-serif;
@input-element-width:150px;
@input-element-height:24px;
@input-element-font-size:12px;
@input-element-proportion:2;

@input-label-font-size:11px;
@input-label-color: #333333;

@header-element-bolder-color : #999999;
