@import "earnbook-web-constants";
@import "earnbook-common-constants";

body {
font-family: @earnbook-font-family;
font-size: 10px;
min-width: @earnbook-min-width;
}

.brand-logo {
  margin-top: 10px;
  font-size: 40px;
  color:@brand-logo-color;
  height: 40px;
  font-weight: normal;
}

.brand-slogan {
  color:@brand-logo-color;
}
.app-max-width {
  max-width: @earnbook-max-width;
}

.header-element-spacing {
 padding-right: 10px;
 padding-left: 0px;
}
.header-lable-padding {
  margin-top: 4px;
}

.header-right-panel {
  padding-top: 20px;
}

.header-button {
  border-radius: 0px;
  margin-top: 1px;
  padding: 2px 5px 2px 5px;
  font-size: 12px;
}





