@import "earnbook-common-constants";

body {
font-family: @earnbook-font-family;
font-size: 10px;
}

.input-element-small {
  padding: 2px;
  border: 1px solid @header-element-bolder-color;
  font-size: @input-element-font-size;
  width: @input-element-width;
  height: @input-element-height;
}

.input-label-small {
  color: @input-label-color;
  font-weight: normal;
  font-size: @input-label-font-size;
  height: 15px;
 }

.input-checkbox-small {
  font-weight: normal;
  font-size: @input-label-font-size;
  vertical-align: middle;
  height: 15px;
  margin: 0px;
}

.input-element-large {
  padding: 2px;
  border: 1px solid @header-element-bolder-color;
  font-size: @input-element-font-size * 2;
  width: @input-element-width * 2;
  height: @input-element-height;
}



